.card {
  width: 380px;
  margin-left: 1rem;
  border-radius: 10px;
  height: 800px;

  .title_section {
    p {
      font-size: 1.05rem;
      text-align: center;
      color: rgb(150, 145, 145);

      span {
        padding-right: 5px;
      }
    }

    .hr {
      width: 100%;
      height: 1px;
      background-color: rgb(219, 209, 209);
    }
  }

  .records {
    .record {
      display: flex;
      justify-content: space-between;

      .infos {
        display: flex;
        align-items: center;

        .dollar_icon {
          font-size: 2rem;
          color: rgb(172, 172, 172);
          margin-right: 8px;
        }

        .title_date {
          .record_title {
            color: rgb(48, 47, 47);
            margin-top: 1rem;
            margin-bottom: 2px;
            font-weight: 500;
            font-size: 1.03rem;
          }
          .record_date {
            color: rgb(172, 172, 172);
            font-size: 0.8rem;
            font-weight: 400;
          }
        }
      }
      .amount {
        margin-top: 1.5rem;
        font-weight: 700;
        font-size: 1.1rem;
      }
    }
  }

  .add_new {
    margin-top: 16.8rem;
    .hr {
      width: 100%;
      height: 1px;
      background-color: rgb(219, 209, 209);
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo_section {
        display: flex;
        margin-top: 1.3rem;

        .wallet_icon {
          font-size: 2rem;
        }

        p {
          font-weight: 500;
          color: rgb(71, 67, 67);
          margin-left: 0.8rem;
          margin-top: 5px;
        }
      }

      .button_section {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
